[ {
  mqttsim ,
  [
    { secure, true },
    { certfile, "/Users/stephb/Desktop/Dropbox/dhcp/mqttsim/certs/tip/mqttservercert.pem" },
    { keyfile, "/Users/stephb/Desktop/Dropbox/dhcp/mqttsim/certs/tip/mqttserverkey_dec.pem"},
    { cacertfile, "/Users/stephb/Desktop/Dropbox/dhcp/mqttsim/certs/tip/cacert.pem" },
    { server_port, 1883 },
    { num_listeners, 50 },
    { num_servers, 100 },
    { client_server_ip, "10.2.50.50" },
    { client_server_port, 1883 },
    { client_cacertfile, "/Users/stephb/Desktop/Dropbox/dhcp/mqttsim/certs/tip-client/ca.pem"},
    { client_certfile, "/Users/stephb/Desktop/Dropbox/dhcp/mqttsim/certs/tip-client/client.pem"},
    { client_keyfile, "/Users/stephb/Desktop/Dropbox/dhcp/mqttsim/certs/tip-client/client_dec.key"},
    { cert_dir, "/Users/stephb/Desktop/Dropbox/dhcp/mqttsim/gen_certs" },
    { ssl_config, "ssl-config.cnf" },
    { inventory_db_dir, "/Users/stephb/Desktop/Dropbox/dhcp/mqttsim/inventory"},
    { cert_db_dir, "/Users/stephb/Desktop/Dropbox/dhcp/mqttsim/certs_db"},
    { ca_name, "sim_ca" }
    ]}
  ,
  {lager,
    [
      {log_root, "/Users/stephb/Desktop/Dropbox/dhcp/mqttsim/logs"},
      {handlers,
        [
          {lager_console_backend, [{level,error}]},
          {lager_file_backend, [{file, "error.log"}, {level, error}, {size, 10485760}, {date, "$D0"}, {count, 5}]},
          {lager_file_backend, [{file, "info.log"}, {level, info}, {size, 10485760}, {date, "$D0"}, {count, 5}]},
          {lager_file_backend, [{file, "warning.log"}, {level, warning}, {size, 10485760}, {date, "$D0"}, {count, 5}]}
        ]}
    ] }
].

