<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OWLS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <style>
        html, body, #app {
            height: 100%;
            background: skyblue;
        }
        :root {
            --borderWidth: 7px;
            --height: 24px;
            --width: 12px;
            --borderColor: #78b13f;
        }
        #app {
            display: flex;
            flex-direction: column;
        }
        .controls {
            background: skyblue;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 1rem;
        }
        .dashboard {
            background-color: skyblue;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-gap: 15px;
            border-width: 15px 15px;
            border-style: solid;
            border-color: skyblue;
        }
        .dashboard > div {
            position: relative;
            place-items: center;
            background-color: rgba(255, 255, 255, 0.5);
            text-align: center;
            padding: 20px 0;
            font-size: 30px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            box-shadow: 10px 5px 5px #1b4460;
        }
        .sim_state {
            display: grid;
            grid-template-columns: 25% auto;
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            color: black;
        }
        .sim_state > div {
            text-align: left;
            margin-left: 15px;
        }
        .actions {
            display: grid;
            grid-template-columns: 80% 10% 10%;
            grid-gap: 0.5rem;
        }
        .form-grid {
            display: grid;
            grid-template-columns: 40% 60%;
            grid-gap: 0.5rem;
            font-size: 0.875rem;
        }
        .sim-grid-actions {
            margin-top: 15px;
            display: grid;
            text-align: center;
            align-content: center;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 1rem;
            font-size: 0.875rem;
        }
        .ca-grid-actions {
            margin-top: 15px;
            display: grid;
            text-align: center;
            align-content: center;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1rem;
            font-size: 0.875rem;
        }
        .table-sm {
            font-size: 0.75rem;
        }
        .clear-logs {
            display: grid;
            grid-template-columns: 150px;
            grid-gap: 1rem;
        }
        .output {
            background: skyblue;
            max-width: 100%;
            overflow: auto;
            display: flex;
            white-space: pre;
            flex-direction: column;
            border-width: 15px 15px;
            border-style: solid;
            border-color: skyblue;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            color: black;
        }
        .bignumber {
            text-shadow: 2px 2px 5px grey;
            font-size: 110px;
            font-family: Arial, Helvetica, sans-serif;
            color: black
        }
        .loginBox {
            margin-top: 30%;
            margin-bottom: 30%;
            margin-left: 30%;
            margin-right: 30%;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            box-shadow: 10px 5px 5px #1b4460;
            text-align: center;
            background: #cbc3c3;
        }
        .check {
            text-align: center;
            align-content: center;
            display: inline-block;
            transform: rotate(45deg);
            height: var(--height);
            width: var(--width);
            border-bottom: var(--borderWidth) solid var(--borderColor);
            border-right: var(--borderWidth) solid var(--borderColor);
        }
        .spinner {
            margin-top: 7px;
            margin-left: 10px;
            border: 0.25rem solid;
            border-color: transparent #a923b1 #a923b1;
            border-radius: 1em;
            width: 1em;
            height: 1em;
            animation: rotation 1s infinite linear;
        }
        @keyframes rotation {
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body>
<div id="app">
    <div v-if="!logged_in">
        <div>
            <div class="loginBox">
                <h1>Login</h1>
                <div>
                    <p>Username: <input type="text" name="username" v-model="credentials.username" placeholder="Username" /></p>
                    <p>Password: <input type="password" name="password" v-model="credentials.password" placeholder="Password" /></p>
                    <button type="button" v-on:click="login()">Login</button>
                </div>
            </div>
        </div>
    </div>
    <div v-else>
    <div class="controls p-3">
        <div class="col">
            <div>
                <img src="/assets/android-chrome-192x192.png" alt="Cute little owl.">
            </div>
            <div class="actions">
                <button class="btn btn-sm btn-secondary"
                        v-on:click="loadImportcas_form()">Import CA</button>
                <div></div>
                <div></div>

                <button class="btn btn-sm btn-secondary" id="prepare_button"
                        v-bind:disabled="bool_val(sim_form.assets_created || sim_state.current_operation === 'preparing')"
                        v-on:click="sendAction('prepare')">Prepare Assets</button>
                <div class="check" v-bind:style="{visibility:is_visible( sim_form.assets_created )}"></div>
                <div class="spinner" v-bind:style="{ visibility: is_visible(show_prepare_spinner)}" ></div>

                <button class="btn btn-sm btn-secondary" id="push_button"
                        v-bind:disabled="bool_val(sim_form.assets_created===false || sim_state.pushed || sim_state.current_operation==='pushing')"
                        v-on:click="sendAction('push')">Push Simulation</button>
                <div class="check" v-bind:style="{visibility:is_visible( sim_state.pushed )}"></div>
                <div class="spinner" v-bind:style="{ visibility: is_visible( show_push_spinner ) }"></div>

                <button class="btn btn-sm btn-secondary" id="start_button"
                        v-bind:disabled="bool_val(sim_state.state==='started' || sim_state.pushed===false)"
                        v-on:click="sendAction('start')">Start Simulation</button>
                <div class="check" v-bind:style="{visibility:is_visible( sim_state.state === 'started' )}"></div>
                <div class="spinner"v-bind:style="{ visibility: is_visible( show_start_spinner ) }"></div>

                <button class="btn btn-sm btn-secondary" id="stop_button"
                        v-bind:disabled="bool_val(sim_state.state !== 'started')"
                        v-on:click="sendAction('stop')">Stop Simulation</button>
                <div class="check" v-bind:style="{visibility:is_visible(show_stop_check)}"></div>
                <div class="spinner" v-bind:style="{ visibility: is_visible( show_stop_spinner ) }"></div>
            </div>
        </div>

        <div class="col">
            <div v-if="importCA">
                <h2 class="h5">Import CA</h2>
                <fieldset class="form-grid border border-secondary p-3">
                    <label class="form-label">Name</label>
                    <div><input type="text" class="form-control form-control-sm" v-model="cas_form.name"/></div>
                    <label class="form-label">Key File</label>
                    <div>
                        <input class="form-control form-control-sm" type="file" ref="keyFile" @change="loadText($event, 'key')">
                    </div>
                    <label class="form-label">Cert File</label>
                    <div>
                        <input class="form-control form-control-sm" type="file" ref="certFile" @change="loadText($event, 'cert')">
                    </div>
                    <label class="form-label">Password</label>
                    <div><input type="text" class="form-control form-control-sm" v-model="cas_form.password"/></div>
                    <div></div>
                </fieldset>
                <div class="ca-grid-actions">
                    <button class="btn btn-secondary btn-sm" v-on:click="saveCA()">Import CA</button>
                    <button class="btn btn-light btn-sm" v-on:click="unloadImportcas_form()">Done</button>
                </div>
            </div>
            <div v-else>
                <h2 class="h5">Simulation</h2>
                <fieldset class="form-grid p-3">
                    <label class="form-label">Current Simulation</label>
                    <div><select class="form-select form-select-sm" v-model="simulation" v-on:change="selectSimulation()">
                        <option value=""></option>
                        <option v-for="(simulation, index) in simulations" :key="index" v-bind:value="simulation">{{ simulation }}</option>
                    </select></div>
                </fieldset>
                <fieldset class="form-grid border border-secondary p-3">
                    <label class="form-label">Name</label>
                    <div><input type="text" class="form-control form-control-sm" v-model.trim="sim_form.name"/></div>
                    <label class="form-label">CA</label>
                    <div><select class="form-select form-select-sm" v-model.trim="sim_form.caname"><option v-for="(ca, index) in cas" :key="index" v-bind:value="ca">{{ ca }}</option></select></div>
                    <label class="form-label">Number of Devices</label>
                    <div><input type="number" class="form-control form-control-sm" v-model.number="sim_form.num_devices" /></div>
                    <label class="form-label">Nodes</label>
                    <div class="d-grid">
                        <label class="" v-for="(node, index) in nodesNodes" :key="index">
                            <input type="checkbox" v-model="sim_form.nodes" :value="node" /> {{ node }}
                        </label>
                    </div>
                    <label class="form-label">Server Name</label>
                    <div><input type="text" class="form-control form-control-sm" v-model.trim="sim_form.server"/></div>
                    <label class="form-label">Port</label>
                    <div><input type="number" class="form-control form-control-sm" v-model.number="sim_form.port" /></div>
                    <label class="form-label">Assets created</label>
                    <div id="assets_created">{{ sim_form.assets_created }}</div>
                </fieldset>
                <div class="sim-grid-actions">
                    <button class="btn btn-secondary btn-sm" v-on:click="saveSimulation()">Save</button>
                    <button class="btn btn-secondary btn-sm" v-on:click="deleteSimulation()">Delete</button>
                    <button class="btn btn-secondary btn-sm" v-on:click="newSimulation()">New</button>
                </div>
            </div>
        </div>

        <div class="col">
            <h2 class="h5">Nodes</h2>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Node Name</th>
                        <th>Total MB</th>
                        <th>Allocated MB</th>
                        <th>Biggest MB</th>
                        <th>Procs</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(node, index) in nodes_stats_table" :key="index">
                        <td>{{ node.node }}</td>
                        <td>{{ node.total }}</td>
                        <td>{{ node.allocated }}</td>
                        <td>{{ node.worst }}</td>
                        <td>{{ node.processes }}</td>
                        <td>{{ node.type }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="dashboard" id="dashboard">
        <!-- Row 1 -->
        <div class="col" id="cell11">
            <h3 class="h3" id="cell11-title"></h3>
        </div>
        <div class="col" id="cell12">
            <h3 class="h3" id="cell12-title"></h3>
        </div>
        <div class="col" id="cell13">
            <h3 class="h3" id="cell13-title"></h3>
        </div>
        <div class="col" id="cell14">
            <h3 class="h3" id="cell14-title">Sessions</h3>
            <text class="bignumber" id="session_count"
               v-bind:style="{ color: pick_color(session_pct) }" >{{ session_pct}}%</text>
        </div>

        <!-- Row 2 -->
        <div class="col" id="cell21">
            <h3 class="h3" id="cell21-title"></h3>
        </div>
        <div class="col" id="cell22">
            <h3 class="h3" id="cell22-title"></h3>
        </div>
        <div class="col" id="cell23">
            <h3 class="h3" id="cell23-title"></h3>
        </div>
        <div class="col" id="cell24">
            <h3 class="h3" id="cell24-title">APs</h3>
            <p class="bignumber" id="ap_count"
                v-bind:style="{ color: pick_color(ap_pct)}">{{ ap_pct }}%</p>
        </div>

        <!-- Row 3 -->
        <div class="col" id="cell31">
            <h3 class="h3" id="cell31-title"></h3>
        </div>
        <div class="col" id="cell32">
            <h3 class="h3" id="cell32-title"></h3>
        </div>
        <div class="col" id="cell33">
            <h3 class="h3" id="cell33-title"></h3>
        </div>
        <div class="col" id="cell34">
            <h3 class="h3" id="cell34-title">Simulation State</h3>
            <div class="sim_state">
                <div>Pushed:</div><div>{{sim_state.pushed}}</div>
                <div>Operation:</div><div>{{sim_state.current_operation}}</div>
                <div>State:</div><div>{{sim_state.state}}</div>
                <div>Started:</div><div>{{sim_state.start_time}}</div>
            </div>
        </div>
    </div>

    <div class="output">
        <h2 class="h3">Logging</h2>
        <div class="clear-logs">
            <button class="btn btn-sm btn-secondary" v-on:click="clearLogs()">Clear logs</button>
        </div>
        <div>
            <code v-for="(msg, index) in output" :key="index">{{ msg }}</code>
        </div>
    </div>
    </div>

</div>

<!-- start of scripts -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha256-t9UJPrESBeG2ojKTIcFLPGF7nHi2vEc7f5A2KpH/UBU=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue@next"></script>

<script>
    const App = {
        data() {
            return {
                logged_in: false,
                apiBase: location.protocol + location.hostname + ':' + location.port,
                apiPrefix: '/api/v1',
                wss: 'ws:' + location.hostname + ':' + location.port + '/ws',
                access_token: 'not_a_token',
                output: [],
                socket: null,
                msg: '',
                importCA: false,
                cas_form: {
                    name: null,
                    key: null,
                    cert: null,
                    password: null
                },
                sim_form: {
                    name: '',
                    caname: '',
                    num_devices: 0,
                    server: '',
                    port: '',
                    nodes: '',
                    assets_created: false
                },

                ap_pct: 0,
                session_pct: 0,

                sim_state: {
                    pushed: false,
                    current_operation: 'none',
                    state: 'none',
                    start_time: ''
                },

                credentials:
                    {
                        username: '',
                        password: ''
                    },

                show_prepare_spinner: false,
                show_push_spinner: false,
                show_start_spinner: false,
                show_stop_spinner: false,

                show_prepare_check: false,
                show_push_check: false,
                show_start_check: false,
                show_stop_check: false,

                nodes_stats_table: null,

                cas: [],
                simulations: [],
                simulationNew: false,
                simulation: null,

                nodesDict: {},
                num_nodes_kernel_charts: 0,
                nodes_kernel_data: [ [], [], [] ],
                nodes_kernel_charts: [],

                mqtt_client_stats_data: [[], []],
                mqtt_client_stats_chart: null,

                mqtt_client_handler_data: [[],[]],
                mqtt_client_handler_chart: null,

                ovsdb_clients_data: [[],[]],
                ovsdb_clients_chart: null,

                simulation_state_chart: null,
                simulation_state_data: [[],[]],

                sim_state_form: {

                }
            }
        },

        mounted: function() {
        },

        created: function() {
            console.log('App loaded');

            // apiBase
            // check localStorage
            if( localStorage.getItem('apiBase') ) {
                this.apiBase = localStorage.getItem('apiBase');
            } else if( window.location.protocol !== 'file:' ) {
                this.apiBase = `${window.location.protocol}//${window.location.host}`;
            }

            // use a set for nodes
            this.nodes_stats_table = new Set();
            this.setup();
        },

        methods: {
            setup: function() {
                // save URL for future use
                localStorage.setItem('apiBase', this.apiBase);

                // ApiURL = new URL(this.apiBase);
                // this.wss = "ws://" + ApiURL.hostname + ":" + ApiURL.port + "/ws";
                this.getCas();
                this.getNodes();
                this.getSimulations();
                this.setupWebsocket();

                setInterval(
                    () => this.getNodes(),
                    4000
                );

                setInterval(
                    () => this.getSimulationState(),
                    4000
                );
            },

            login: function() {
                let payload = { userId: this.credentials.username, password: this.credentials.password };
                this.apiPost(`/oauth2/login`,payload)
                    .then( res => {
                        if( res.status === 200 ) {
                            this.access_token = res.data.access_token;
                            this.logged_in = true;
                            return true;
                        }
                        else {
                            return false;
                        }
                    })
                    .catch( Error => {
                        console.error(Error);
                        return false;
                    })
            },

            bool_val: function(Value) {
                return Value;
            },

            loadImportcas_form: function() {
                this.importCA = true ;
            },

            unloadImportcas_form: function() {
                this.importCA = false ;
            },

            is_visible: function(v) {
                if(v) return 'visible';
                return 'hidden';
            },

            setupWebsocket: function() {
                if( !this.wss ) {
                    console.log('Missing websocket URL');
                    return false;
                }

                console.log('Starting websocket...');
                this.socket = new WebSocket(this.wss);

                this.socket.onmessage = (event) => {
                    const Payload = JSON.parse(event.data);
                    if (Payload.name === 'os_details') {
                        this.logKernel(Payload);
                    } else if (Payload.name === 'mqtt_client_stats') {
                        this.mqtt_client_stats(Payload);
                    } else if (Payload.name === 'mqtt_client_handler') {
                        this.mqtt_client_handler(Payload);
                    } else if (Payload.name === 'ovsdb_clients') {
                        this.ovsdb_clients(Payload);
                    } else if (Payload.type === 'logs') {
                        this.output.push(Payload.node + ": " + Payload.data + "\n");
                    } else if (Payload.name === 'simulation_state') {
                        this.update_simulation_state(Payload);
                    }
                }

                this.socket.onopen = (event) => {
                    console.log(event);
                }

                this.socket.onclose = (event) => {
                    console.log(event);
                }

            },

            reset_sim_form: function() {
                this.sim_form.name = '' ;
                this.sim_form.caname = '';
                this.sim_form.num_devices = 0 ;
                this.sim_form.server = '' ;
                this.sim_form.port = 6643 ;
                this.sim_form.nodes = [] ;
                this.sim_form.assets_created = false;
            },

            reset_cas_form: function() {
                this.cas_form.name = '' ;
                this.cas_form.key = '';
                this.cas_form.cert = '' ;
                this.cas_form.password = '';
                this.$refs.keyFile.value = null;
                this.$refs.certFile.value = null;
            },

            reset_sim_state_form: function() {
                this.sim_state.pushed = false;
                this.sim_state.current_operation = 'none';
                this.sim_state.state = 'none';
                this.sim_state.start_time = '';
            },

            // send a msg through the socket...
            send: function() {
                console.log(`Sending message '${this.msg}'...`);
                this.socket.send(this.msg)
            },

            getCas: function() {
                this.cas = [];
                this.apiGet('/cas')
                    .then((response) => {
                        const data = response.data;
                        if( data.Data && data.Data.CAs ) {
                            this.cas = data.Data.CAs;
                        }
                    });
            },

            getNodes: function() {
                this.nodes_stats_table = [];
                this.apiGet('/nodes?format=detailed')
                    .then((response) => {
                        const data = response.data;
                        if(data.Data && data.Data.Nodes) {
                            var i;
                            for(i=0;i<data.Data.Nodes[0].length;i++) {
                                data.Data.Nodes[0][i].total = Math.trunc(data.Data.Nodes[0][i].total);
                                data.Data.Nodes[0][i].allocated = Math.trunc(data.Data.Nodes[0][i].allocated);
                                data.Data.Nodes[0][i].worst = Math.trunc(data.Data.Nodes[0][i].worst);
                            }
                            this.nodes_stats_table = data.Data.Nodes[0];
                        }
                    });
            },

            getSimulations: function() {
                this.apiGet(`/simulations`)
                    .then(data => {
                        if(data && data.Simulations) {
                            this.simulations = data.Simulations;
                            this.simulation = this.simulations[0];
                            this.selectSimulation();
                        }
                    });
            },

            // clear form for empty mode
            newSimulation() {
                this.simulation = '';
                this.simulationNew = true;
                this.reset_sim_form();
                this.reset_sim_state_form();
            },

            selectSimulation() {
                const sim = this.simulation;
                // if user selects empty, it's a "new" sim
                if( !sim ) {
                    this.newSimulation();
                }
                else {
                    this.apiGet(`/simulations/${this.simulation}`)
                        .then(response => response.json())
                        .then(data => {
                            // console.log(data);
                            if (data && data.name) {
                                this.simulationNew = false;
                                let keys = Object.keys(this.sim_form);
                                keys.forEach((k) => {
                                    // console.log(data[k])
                                    if (data[k] !== undefined)
                                        this.sim_form[k] = data[k];
                                });
                            }
                        });
                }
            },

            saveSimulation: function() {
                let id = this.simulation ? this.simulation : this.sim_form.name;
                if( !id ) {
                    console.log('Missing simulation name');
                    return;
                }
                this.simulation = this.sim_form.name;
                this.sim_form.num_devices = Number(this.sim_form.num_devices);
                this.sim_form.port = Number(this.sim_form.port);
                this.apiPost( `/simulations/${id}`, this.sim_form )
                    .then(response => {
                        // console.log(response)
                        if( response.name ) {
                            if(this.simulationNew) {
                                this.simulationNew = false;
                                this.simulations.append(response.name);
                                this.simulation = response.name;
                            }
                        }
                        this.selectSimulation();
                        this.$alert(`Simulation ${this.sim_form.name} saved.`,'Simulations...','info');
                       });
                this.selectSimulation();
            },

            deleteSimulation: function() {
                if(this.sim_form.name === '') {
                    return;
                }
                this.apiDelete(`/simulations/${this.sim_form.name}`);
                this.reset_sim_form();
                this.reset_sim_state_form();
                this.simulation = '';
                this.simulationNew = true;
            },

            saveCA: function() {
                if( this.cas.includes( this.cas_form.name ) ) {
                    console.log(`CA name ${this.cas_form.name} already exists!`);
                    return false;
                }
                // basic validation
                if( this.cas_form.name && this.cas_form.key && this.cas_form.cert ) {
                    this.apiPost( `/cas/${this.cas_form.name}`, this.cas_form )
                        .then(response => {
                            // console.log(response);
                            this.reset_cas_form();
                            this.getCas();
                        });
                } else {
                    console.log(`Missing parameters`);
                }
            },

            // prepare assets
            sendAction: function( action ) {
                // action requires sim to be created
                if( !this.simulation ) {
                    console.log('Must select a simulation');
                    return;
                }
                // allowed actions
                const actions = [ 'prepare', 'push', 'start', 'stop' ];
                if( !actions.includes(action) ) {
                    console.log(`Invalid action ${action}`);
                    return;
                }

                switch( action ) {
                    case 'prepare': this.show_prepare_spinner = true; break;
                    case 'push': this.show_push_spinner = true; break;
                    case 'start': this.show_start_spinner = true; break;
                    case 'stop': this.show_stop_spinner = true; break;
                }

                const payload = {
                    "action": action,
                    "simulation": this.simulation,
                    "parameters": [
                        {
                            "name": "stagger",
                            "value": "10/2000"
                        }
                    ]
                };

                this.apiPost(`/actions`, payload)
                    .then(data => {
                        const job_id = data.data.id ;
                        if(job_id !== null) {
                            console.log(`Waiting completion of ${action} ID: ${job_id}`);
                            let self = this;
                            this.check_job_status(job_id, Date.now() + 300000, 500)
                                .then( function(jobStatus) {
                                    console.log(`Waiting completion 3 of ${action} ID=${job_id} : ${jobStatus}`);
                                    if (action === 'prepare' && jobStatus === true) {
                                        self.sim_form.assets_created = true;
                                    }
                                    switch( action ) {
                                        case 'prepare': self.show_prepare_spinner = false; break;
                                        case 'push': self.show_push_spinner = false; break;
                                        case 'start': self.show_start_spinner = false; break;
                                        case 'stop': self.show_stop_spinner = false; break;
                                    }
                                } )
                        }})
                        .catch(error => console.error(error.message));
            },

            check_job_status: async function(action_id, timeOut, backoff ) {
                return this.apiGet(`/actions/${action_id}`)
                    .then( res => res.json() )
                    .then( data => {
                        console.log(data);
                        if (data.status === 'completed') {
                            console.log(`${action_id} : completed`);
                            Promise.resolve(true);
                            return true;
                        }
                        else if (Date.now() < timeOut) {
                            return this.check_job_status(action_id, timeOut, backoff);
                        } else {
                            throw new Error('Timed out');
                        }
                    })
                    .catch(console.error);
            },

            getSimulationState: function() {
                if(!this.simulation)
                    return;
                const the_uri = this.apiBase + this.apiPrefix + `/simulations/${this.simulation}/state`;
                this.apiGet(`/simulations/${this.simulation}/state`)
                    .then(response => response.json())
                    .then(data => {
                        if( data ) {
                            this.simulationNew = false;
                            let keys = Object.keys(this.sim_state);
                            keys.forEach( (k) => {
                                if( data[k] !== undefined )
                                    this.sim_state[k] = data[k];
                            });
                        }
                    })
                    .catch(console.log);
            },

            // basic helper to read files
            // event, name is the key to store data after in cas_form
            loadText( event, name ) {
                const file = event.target.files[0];
                const reader = new FileReader();
                reader.onload = (event) => {
                    console.log(event.target.result);
                    this.cas_form[name] = event.target.result;
                }
                reader.readAsText(file);
            },

            logKernel: function( data ) {
                if(!this.logged_in)
                    return;
                let idx = null;
                if( !data.node ) {
                    return;
                }
                if( data.node in this.nodesDict ) {
                    idx = this.nodesDict[data.node];
                } else {
                    idx = this.num_nodes_kernel_charts;
                    this.nodesDict[data.node] = idx;
                    // canvas for chart
                    const el = document.createElement('canvas');
                    el.setAttribute('id', `chart-${idx}`);
                    const chart_cell = document.getElementById(`cell${idx+1}1`);
                    chart_cell.appendChild(el);
                    const tokens = data.node.split("@");
                    document.getElementById(`cell${idx+1}1-title`).innerHTML = tokens[0];
                    const chart = new Chart(el, {
                        type: 'line',
                        options: {
                            layout: { padding: { left: 15, right:15, top:15, bottom: 15} },
                            animation: { duration: 0 },
                            elements: { line: { tension: 0 } }
                        },
                        data: {
                            labels: [],
                            datasets: [{
                                    label: 'avg1',
                                    borderColor: "#7dab16",
                                    data: this.nodes_kernel_data[idx][0],
                                },{
                                    label: 'avg5',
                                    borderColor: "#244c9b",
                                    data: this.nodes_kernel_data[idx][1],
                                },{
                                    label: 'avg15',
                                    borderColor: "#e7558f",
                                    data: this.nodes_kernel_data[idx][2],
                                }]
                        },
                    });
                    this.nodes_kernel_charts[idx] = chart;
                    this.num_nodes_kernel_charts = this.num_nodes_kernel_charts + 1;
                }
                let theData = [ data.data.cpu_avg1, data.data.cpu_avg5, data.data.cpu_avg15 ];
                this.updateChartData(this.nodes_kernel_charts[idx], theData);
            },

            mqtt_client_stats: function(data) {
                if(!this.logged_in)
                    return;
                if(this.mqtt_client_stats_chart===null)
                {
                    const el = document.createElement('canvas');
                    el.setAttribute('id', `mqtt_client_stats_chart`);
                    const mqtt_client_stats_div = document.getElementById('cell12');
                    document.getElementById('cell12-title').innerHTML = "MQTT Clients";
                    mqtt_client_stats_div.appendChild(el);
                    const chart = new Chart(el, {
                        type: 'line',
                        options: {
                            layout: { padding: { left: 15, right:15, top:15, bottom: 15} },
                            animation: { duration: 0 },
                            elements: { line: { tension: 0 } }
                        },
                        data: {
                            labels: [],
                            datasets: [
                                {
                                    label: 'connected',
                                    borderColor: "#7dab16",
                                    data: this.mqtt_client_stats_data[0],
                                },{
                                    label: 'reconnecting',
                                    borderColor: "#244c9b",
                                    data: this.mqtt_client_stats_data[1],
                                }
                            ]
                        },
                    });
                    this.mqtt_client_stats_chart = chart;
                }
                let theData = [ data.data.connected, data.data.reconnecting ];
                this.updateChartData(this.mqtt_client_stats_chart, theData);
            },

            mqtt_client_handler: function(data) {
                if(!this.logged_in)
                    return;
                if(this.mqtt_client_handler_chart===null) {
                    const el = document.createElement('canvas');
                    el.setAttribute('id', `mqtt_client_handler_chart`);
                    const mqtt_client_handler_div = document.getElementById('cell22');
                    document.getElementById('cell22-title').innerHTML = "MQTT Client Manager";
                    mqtt_client_handler_div.appendChild(el);
                    const chart = new Chart(el, {
                        type: 'line',
                        options: {
                            layout: { padding: { left: 15, right:15, top:15, bottom: 15} },
                            animation: { duration: 0 },
                            elements: { line: { tension: 0 } }
                        },
                        data: {
                            labels: [],
                            datasets: [
                                {
                                    label: 'connections',
                                    borderColor: "#7dab16",
                                    data: this.mqtt_client_handler_data[0],
                                },{
                                    label: 'errors',
                                    borderColor: "#244c9b",
                                    data: this.mqtt_client_handler_data[1],
                                }]
                        },
                    });
                    this.mqtt_client_handler_chart = chart;
                }
                let theData = [data.data.current_connections,data.data.errors];
                this.updateChartData(this.mqtt_client_handler_chart, theData);
            },

            ovsdb_clients: function(data) {
                if(!this.logged_in)
                    return;
                if (this.ovsdb_clients_chart === null) {
                    const el = document.createElement('canvas');
                    el.setAttribute('id', `ovsdb_clients_chart`);
                    const ovsdb_clients_div = document.getElementById('cell32');
                    document.getElementById('cell32-title').innerHTML = "OpenSync Clients";
                    ovsdb_clients_div.appendChild(el);
                    const chart = new Chart(el, {
                        type: 'line',
                        options: {
                            layout: { padding: { left: 15, right:15, top:15, bottom: 15} },
                            animation: { duration: 0 },
                            elements: { line: { tension: 0 } }
                        },
                        data: {
                            labels: [],
                            datasets: [
                                {
                                    label: 'running',
                                    borderColor: "#7dab16",
                                    data: this.ovsdb_clients_data[0],
                                },{
                                    label: 'reconnecting',
                                    borderColor: "#244c9b",
                                    data: this.ovsdb_clients_data[1],
                                }]
                        },
                    });
                    this.ovsdb_clients_chart = chart;
                }
                let theData = [data.data.running,data.data.reconnecting];
                this.updateChartData(this.ovsdb_clients_chart, theData);
            },

            update_simulation_state: function(data) {
                if(!this.logged_in)
                    return;
                if (this.simulation_state_chart === null) {
                    const el = document.createElement('canvas');
                    el.setAttribute('id', `simulation_state_client_chart`);
                    const ovsdb_clients_div = document.getElementById('cell13');
                    document.getElementById('cell13-title').innerHTML = "TIP Data";
                    ovsdb_clients_div.appendChild(el);
                    const chart = new Chart(el, {
                        type: 'line',
                        options: {
                            layout: { padding: { left: 15, right:15, top:15, bottom: 15} },
                            animation: { duration: 0 },
                            elements: { line: { tension: 0 } }
                        },
                        data: {
                            labels: [],
                            datasets: [{
                                label: 'APs',
                                borderColor: "#7dab16",
                                data: this.simulation_state_data[0],
                            },{
                                label: 'Sessions',
                                borderColor: "#244c9b",
                                data: this.simulation_state_data[1],
                            }]
                        },
                    });
                    this.simulation_state_chart = chart;
                }
                this.ap_pct = (100*(data.data.tip_devices/data.data.max_devices)).toFixed(1);
                this.session_pct = (100*(data.data.tip_clients/data.data.max_clients)).toFixed(1);
                let theData = [this.ap_pct,this.session_pct];
                this.updateChartData(this.simulation_state_chart,theData);
            },

            updateChartData: function(the_chart,dataValues) {
                let i=0;
                if(the_chart.data.datasets[0].data.length === 30) {
                    for(i=0;i<dataValues.length;i++) {
                        the_chart.data.datasets[i].data.shift();
                    }
                    the_chart.data.labels.shift();
                }
                for(i=0;i<dataValues.length;i++) {
                    the_chart.data.datasets[i].data.push(dataValues[i]);
                }
                the_chart.data.labels.push(this.makeLabel());
                the_chart.update();
            },

            clearLogs: function() {
              this.output = [];
            },

            pick_color: function(value) {
                if (value < 75) {
                    return 'red';
                }
                else if (value < 95) {
                    return 'yellow';
                }
                return 'green';
            },

            makeLabel: function() {
                    const now = new Date();
                    const secs = now.getSeconds();
                    const mins = now.getMinutes();
                    if(secs<10){
                        return mins + ":0" + secs;
                    }
                    else
                        return mins + ":" + secs;
            },

            //
            //  API REST framework
            //
            apiGet: async function( path ) {
                const url = `${this.apiBase}${this.apiPrefix}${path}`;
                const response = await fetch( url, {
                    headers: {
                        'Authorization': 'Bearer ' + this.access_token,
                        'Content-Type': 'application/json' }
                });
                return {
                    status: response.status,
                    data: await response.json()
                }
            },

            apiPost: async function( path, payload ) {
                const url = `${this.apiBase}${this.apiPrefix}${path}`;
                const response = await fetch( url, {
                    method: 'POST',
                    headers: {
                        'Authorization': 'Bearer ' + this.access_token,
                        'Content-Type': 'application/json' },
                    body: JSON.stringify( payload )
                } );
                return {
                    status: response.status,
                    data: await response.json()
                }
            },

            apiDelete: async function( path ) {
                const url = `${this.apiBase}${this.apiPrefix}${path}`;
                const response = await fetch( url, {
                    method: 'DELETE',
                    headers: {
                        'Authorization': 'Bearer ' + this.access_token,
                        'Content-Type': 'application/json' },
                });
                return {
                    status: response.status
                }
            }

        },

        computed: {
            nodesNodes: function() {
                if( this.nodes_stats_table ) {
                    return this.nodes_stats_table.filter( n => n.type === 'node' ).map( n => n.node );
                }
                return [];
            }
        }
    };

    Vue.createApp(App).mount('#app')

</script>
</body>
</html>