<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OWLS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <style>
        html, body, #app {
            height: 100%;
            background: skyblue;
        }
        #app {
            display: flex;
            flex-direction: column;
        }
        .controls {
            background: skyblue;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 1rem;
        }
        .dashboard {
            background-color: skyblue;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 350px 350px 350px;
            grid-gap: 15px;
            border-width: 15px 15px;
            border-style: solid;
            border-color: skyblue;
        }
        .dashboard > div {
            place-items: center ;
            background-color: rgba(255, 255, 255, 0.5);
            text-align: center;
            padding: 20px 0;
            font-size: 30px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            box-shadow: 10px 5px 5px #1b4460;
        }
        .actions {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 0.5rem;
        }
        .form-grid {
            display: grid;
            grid-template-columns: 40% 60%;
            grid-gap: 0.5rem;
            font-size: 0.875rem;
        }
        .table-sm {
            font-size: 0.75rem;
        }
        .clear-logs {
            display: grid;
            grid-template-columns: 150px;
            grid-gap: 1rem;
        }
        .output {
            background: skyblue;
            max-width: 100%;
            overflow: auto;
            display: flex;
            white-space: pre;
            flex-direction: column;
            border-width: 15px 15px;
            border-style: solid;
            border-color: skyblue;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            color: black;
        }
        .bignumber {
            text-shadow: 2px 2px 5px grey;
            font-size: 110px;
            font-family: Arial, Helvetica, sans-serif;
            color: black
        }
        .logline {
            white-space: pre;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            color: black;
            line-height: 0.8;
        }
        .spinner {
            margin-top: 7px;
            margin-left: 10px;
            border: 0.25rem solid;
            border-color: transparent #a923b1 #a923b1;
            border-radius: 1em;
            width: 1em;
            height: 1em;
            animation: rotation 1s infinite linear;
        }
        @keyframes rotation {
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body>
<div id="app">
    <div class="controls p-3">

        <div class="col">
            <div>
                <img src="/assets/android-chrome-192x192.png" alt="Cute little owl.">
            </div>
            <div class="actions">
                <button class="btn btn-sm btn-secondary"
                        v-on:click="loadImportcas_form()">Import CA</button>
                <div></div>
                <button class="btn btn-sm btn-secondary"
                        v-on:click="newSimulation()">Create Simulation</button>
                <div></div>
                <button class="btn btn-sm btn-secondary" id="prepare_button"
                        v-bind:disabled="sim_form.assets_created"
                        v-on:click="sendAction('prepare')">Prepare Assets</button>
                <div v-if="show_prepare_spinner">
                    <div class="spinner" id="prepare_loader"></div>
                </div>
                <div v-else>
                </div>
                <button class="btn btn-sm btn-secondary" id="push_button"
                        v-on:click="sendAction('push')">Push Simulation</button>
                <div v-if="show_push_spinner">
                    <div class="spinner" id="push_loader"></div>
                </div>
                <div v-else>
                </div>
                <button class="btn btn-sm btn-secondary" id="start_button"
                        v-on:click="sendAction('start')">Start Simulation</button>
                <div v-if="show_start_spinner">
                    <div class="spinner" id="start_loader"></div>
                </div>
                <div v-else>
                </div>
                <button class="btn btn-sm btn-secondary" id="stop_button"
                        v-on:click="sendAction('stop')">Stop Simulation</button>
                <div v-if="show_stop_spinner">
                    <div class="spinner" id="stop_loader"></div>
                </div>
                <div v-else>
                </div>
                <div></div>
            </div>
        </div>

        <div class="col">
            <div v-if="importCA">
                <h2 class="h5">Import CA</h2>
                <fieldset class="form-grid border border-secondary p-3">
                    <label class="form-label">Name</label>
                    <div><input type="text" class="form-control form-control-sm" v-model="cas_form.name"/></div>
                    <label class="form-label">Key File</label>
                    <div>
                        <input class="form-control form-control-sm" type="file" ref="keyFile" @change="loadText($event, 'key')">
                    </div>
                    <label class="form-label">Cert File</label>
                    <div>
                        <input class="form-control form-control-sm" type="file" ref="certFile" @change="loadText($event, 'cert')">
                    </div>
                    <label class="form-label">Password</label>
                    <div><input type="text" class="form-control form-control-sm" v-model="cas_form.password"/></div>
                    <div></div>
                    <div>
                        <button class="btn btn-secondary btn-sm" v-on:click="saveCA()">Import CA</button>
                        <button class="btn btn-light btn-sm" v-on:click="loadImportcas_form()">Cancel</button>
                    </div>
                </fieldset>
            </div>
            <div v-else>
                <h2 class="h5">Simulation</h2>
                <fieldset class="form-grid p-3">
                    <label class="form-label">Current Simulation</label>
                    <div><select class="form-select form-select-sm" v-model="simulation" v-on:change="selectSimulation()">
                        <option value=""></option>
                        <option v-for="(simulation, index) in simulations" :key="index" v-bind:value="simulation">{{ simulation }}</option>
                    </select></div>
                </fieldset>
                <fieldset class="form-grid border border-secondary p-3">
                    <label class="form-label">Name</label>
                    <div><input type="text" class="form-control form-control-sm" v-model="sim_form.name"/></div>
                    <label class="form-label">CA</label>
                    <div><select class="form-select form-select-sm" v-model="sim_form.caname"><option v-for="(ca, index) in cas" :key="index" v-bind:value="ca">{{ ca }}</option></select></div>
                    <label class="form-label">Number of Devices</label>
                    <div><input type="number" class="form-control form-control-sm" v-model="sim_form.num_devices" /></div>
                    <label class="form-label">Nodes</label>
                    <div class="d-grid">
                        <label class="" v-for="(node, index) in nodesNodes" :key="index">
                            <input type="checkbox" v-model="sim_form.nodes" :value="node" /> {{ node }}
                        </label>
                    </div>
                    <label class="form-label">Server Name</label>
                    <div><input type="text" class="form-control form-control-sm" v-model="sim_form.server"/></div>
                    <label class="form-label">Port</label>
                    <div><input type="number" class="form-control form-control-sm" v-model="sim_form.port" /></div>
                    <label class="form-label">Assets created</label>
                    <div id="assets_created">{{ sim_form.assets_created }}</div>
                    <button class="btn btn-secondary btn-sm" v-on:click="saveSimulation()">Save</button>
                </fieldset>
            </div>
        </div>

        <div class="col">
            <h2 class="h5">Nodes</h2>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Node Name</th>
                        <th>Total MB</th>
                        <th>Allocated MB</th>
                        <th>Biggest MB</th>
                        <th>Procs</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(node, index) in nodes_stats_table" :key="index">
                        <td>{{ node.node }}</td>
                        <td>{{ node.total }}</td>
                        <td>{{ node.allocated }}</td>
                        <td>{{ node.worst }}</td>
                        <td>{{ node.processes }}</td>
                        <td>{{ node.type }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="dashboard" id="dashboard"></div>

    <div class="output">
        <h2 class="h3">Logging</h2>
        <div class="clear-logs">
            <button class="btn btn-sm btn-secondary" v-on:click="clearLogs()">Clear logs</button>
        </div>
        <div>
            <code v-for="(msg, index) in output" :key="index">{{ msg }}</code>
        </div>
    </div>

</div>

<!--
  start of scripts
-->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha256-t9UJPrESBeG2ojKTIcFLPGF7nHi2vEc7f5A2KpH/UBU=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue@3.0.4/dist/vue.global.js"></script>

<script>
    const App = {
        data() {
            return {
                apiBase: location.protocol + location.hostname + ':' + location.port,
                apiPrefix: '/api/v1',
                wss: 'ws:' + location.hostname + ':' + location.port + '/ws',
                output: [],
                socket: null,
                msg: 'Hello World',
                importCA: false,
                cas_form: {
                    name: null,
                    key: null,
                    cert: null,
                    password: null
                },
                sim_form: {
                    name: null,
                    caname: null,
                    num_devices: null,
                    server: null,
                    port: null,
                    nodes: null,
                    assets_created: null
                },

                ap_pct: 0,
                session_pct: 0,

                show_prepare_spinner: false,
                show_push_spinner: false,
                show_start_spinner: false,
                show_stop_spinner: false,

                nodes_stats_table: null,

                cas: [],
                simulations: [],
                simulationNew: false,
                simulation: null,

                nodesDict: {},
                num_nodes_kernel_charts: 0,
                nodes_kernel_data: [ [], [], [] ],
                nodes_kernel_charts: [],

                mqtt_client_stats_data: [[], []],
                mqtt_client_stats_chart: null,

                mqtt_client_handler_data: [[],[]],
                mqtt_client_handler_chart: null,

                ovsdb_clients_data: [[],[]],
                ovsdb_clients_chart: null,

                simulation_state_chart: null,
                simulation_state_data: [[],[]],

                sim_state_form: {

                }
            }
        },

        mounted: function() {
            this.createGrid(3,4);
            this.createTile(1,4,'Sessions','session_count');
            this.createTile(2,4,'APs','ap_count');
        },

        created: function() {
            console.log('App loaded');

            // apiBase
            // check localStorage
            if( localStorage.getItem('apiBase') ) {
                this.apiBase = localStorage.getItem('apiBase');
            } else if( window.location.protocol !== 'file:' ) {
                this.apiBase = `${window.location.protocol}//${window.location.host}`;
            }

            // use a set for nodes
            this.nodes_stats_table = new Set();
            this.setup();
        },

        methods: {
            setup: function() {
                // save URL for future use
                localStorage.setItem('apiBase', this.apiBase);

                // ApiURL = new URL(this.apiBase);
                // this.wss = "ws://" + ApiURL.hostname + ":" + ApiURL.port + "/ws";
                this.getCas();
                this.getNodes();
                this.getSimulations();
                this.setupWebsocket();

                setInterval(
                    () => this.getNodes(),
                    4000
                );
            },

            createTile: function(Row,Col,Title,Id) {
                let CellName = `cell${Row}${Col}-title`;
                document.getElementById(CellName).innerHTML = Title;
                let c14 = document.getElementById(CellName);
                let newTile = document.createElement('div');
                newTile.id = Id;
                newTile.className = 'bignumber';
                c14.appendChild(newTile);
            },

            createGrid: function(Rows,Cols) {
                let r,c;

                DashBoard = document.getElementById('dashboard');

                for(r=0;r<Rows;r++) {
                    for(c=0;c<Cols;c++) {
                        let iDiv = document.createElement('div');
                        iDiv.id = `cell${r+1}${c+1}`;
                        iDiv.className = 'col';
                        let tDiv = document.createElement('h3');
                        tDiv.id = `cell${r+1}${c+1}-title`;
                        tDiv.className = 'h3';
                        iDiv.appendChild(tDiv);
                        DashBoard.appendChild(iDiv);
                    }
                }
            },

            setupWebsocket: function() {
                if( !this.wss ) {
                    console.log('Missing websocket URL');
                    return false;
                }

                console.log('Starting websocket...');
                this.socket = new WebSocket(this.wss);

                this.socket.onmessage = (event) => {
                    const Payload = JSON.parse(event.data);
                    if (Payload.name === 'os_details') {
                        this.logKernel(Payload);
                    } else if (Payload.name === 'mqtt_client_stats') {
                        this.mqtt_client_stats(Payload);
                    } else if (Payload.name === 'mqtt_client_handler') {
                        this.mqtt_client_handler(Payload);
                    } else if (Payload.name === 'ovsdb_clients') {
                        this.ovsdb_clients(Payload);
                    } else if (Payload.type === 'logs') {
                        this.output.push(Payload.node + ": " + Payload.data + "\n");
                    } else if (Payload.name === 'simulation_state') {
                        this.update_simulation_state(Payload);
                    }
                }

                this.socket.onopen = (event) => {
                    console.log(event);
                }

                this.socket.onclose = (event) => {
                    console.log(event);
                }

            },

            // send a msg through the socket...
            send: function() {
                console.log(`Sending message '${this.msg}'...`);
                // should check if socket is good before
                this.socket.send(this.msg)
            },

            getCas: function() {
                this.cas = [];
                this.apiGet('/cas')
                    .then((response) => {
                        const data = response.data;
                        if( data.Data && data.Data.CAs ) {
                            this.cas = data.Data.CAs;
                        }
                    });
            },

            getNodes: function() {
                this.nodes_stats_table = [];
                this.apiGet('/nodes')
                    .then((response) => {
                        const data = response.data;
                        if(data.Data && data.Data.Nodes) {
                            var i;
                            for(i=0;i<data.Data.Nodes[0].length;i++) {
                                data.Data.Nodes[0][i].total = Math.trunc(data.Data.Nodes[0][i].total);
                                data.Data.Nodes[0][i].allocated = Math.trunc(data.Data.Nodes[0][i].allocated);
                                data.Data.Nodes[0][i].worst = Math.trunc(data.Data.Nodes[0][i].worst);
                            }
                            this.nodes_stats_table = data.Data.Nodes[0];
                        }
                    });
            },

            getSimulations: function() {
                const location = `${this.apiBase}${this.apiPrefix}/simulations`;
                fetch( location )
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        this.simulations = data.Data.Simulations;
                        this.simulation = this.simulations[0];
                        this.selectSimulation();
                    });
            },

            // clear form for empty mode
            newSimulation() {
                this.simulation = '';
                this.simulationNew = true;
                this.sim_form.assets_created = false;
                // document.getElementById('prepare_button').hidden = false ;
                this.resetProps( this.sim_form );
            },

            selectSimulation() {
                const sim = this.simulation;
                // if user selects empty, it's a "new" sim
                if( !sim ) {
                    this.newSimulation();
                }
                const location = this.apiBase + this.apiPrefix + `/simulations/${sim}`;
                fetch( location )
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        if( data && data.name ) {
                            this.simulationNew = false;
                            let keys = Object.keys(this.sim_form);
                            keys.forEach( (k) => {
                                console.log(data[k])
                                if( data[k] !== undefined )
                                    this.sim_form[k] = data[k];
                            });
                            // document.getElementById('prepare_button').disabled = this.sim_form.assets_created ;
                        }
                    });
            },

            saveSimulation: function() {
                let id = this.simulation ? this.simulation : this.sim_form.name;
                if( !id ) {
                    console.log('Missing simulation name');
                    return;
                }
                this.apiPost( `/simulations/${id}`, this.sim_form )
                    .then(response => {
                        console.log(response)
                        if( response.name ) {
                            if(this.simulationNew) {
                                this.simulationNew = false;
                                this.simulations.append(response.name);
                                this.simulation = response.name;
                            }
                        }
                    });
            },

            saveCA: function() {
                console.log(JSON.stringify(this.cas_form));
                // block if name exists
                if( this.cas.includes( this.cas_form.name ) ) {
                    console.log(`CA name ${this.cas_form.name} already exists!`);
                    return false;
                }
                // basic validation
                if( this.cas_form.name && this.cas_form.key && this.cas_form.cert ) {
                    this.apiPost( `/cas/${this.cas_form.name}`, this.cas_form )
                        .then(response => {
                            console.log(response);
                            this.resetcas_form();
                            this.getCas();
                        });
                } else {
                    console.log(`Missing parameters`);
                }
            },

            resetcas_form: function() {
                this.resetProps( this.cas_form );
                this.$refs.keyFile.value = null;
                this.$refs.certFile.value = null;
            },

            // simple helper to reset props of an object
            resetProps: function( obj, val ) {
                if( val === undefined ) val = null;
                Object.keys( obj ).forEach( k => {
                    obj[k] = null;
                } );
            },

            // prepare assets
            sendAction: function( action ) {
                // action requires sim to be created
                if( !this.simulation ) {
                    console.log('Must select a simulation');
                    return;
                }
                // allowed actions
                const actions = [ 'prepare', 'push', 'start', 'stop' ];
                if( !actions.includes(action) ) {
                    console.log(`Invalid action ${action}`);
                    return;
                }

                switch( action ) {
                    case 'prepare': this.show_prepare_spinner = true; break;
                    case 'push': this.show_push_spinner = true; break;
                    case 'start': this.show_start_spinner = true; break;
                    case 'stop': this.show_stop_spinner = true; break;
                }

                let payload = {
                    "action": action,
                    "simulation": this.simulation,
                    "parameters": [
                        {
                            "name": "stagger",
                            "value": "10/2000"
                        }
                    ]
                };

                let job_id = null;

                this.apiPost(`/actions`, payload)
                    .then(response => {
                        job_id = response.data.id ;
                        this.output.push("Action post\n");
                        this.output.push(job_id);
                        this.output.push("After\n");
                        this.output.push(job_id);

                        if(job_id !== null) {
                            this.check_job_status(job_id);
                        }
                    });

                switch( action ) {
                    case 'prepare': this.show_prepare_spinner = false; break;
                    case 'push': this.show_push_spinner = false; break;
                    case 'start': this.show_start_spinner = false; break;
                    case 'stop': this.show_stop_spinner = false; break;
                }
            },

            check_job_status: function(action_id) {
                this.apiGetSimple('/actions/'+action_id)
                    .then(response => {
                        if( response.data.status !== 'completed' ) {
                            this.check_job_status(action_id);
                        }
                    });

            },

            apiGetSimple: async function( path ) {
                const url = `${this.apiBase}${this.apiPrefix}${path}`;
                this.output.push("simple get");
                this.output.push(url);
                const response = await fetch( url );
                return {
                    status: response.status,
                    data: await response.json()
                }
            },


            // basic helper to read files
            // event, name is the key to store data after in cas_form
            loadText( event, name ) {
                const file = event.target.files[0];
                const reader = new FileReader();
                reader.onload = (event) => {
                    console.log(event.target.result);
                    this.cas_form[name] = event.target.result;
                }
                reader.readAsText(file);
            },

            // generic get
            apiGet: async function( path ) {
                const url = `${this.apiBase}${this.apiPrefix}${path}?format=detailed`;
                const response = await fetch( url );
                return {
                    status: response.status,
                    data: await response.json()
                }
            },

            apiPost: async function( path, payload ) {
                const url = `${this.apiBase}${this.apiPrefix}${path}`;
                const response = await fetch( url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify( payload )
                } );
                return {
                    status: response.status,
                    data: await response.json()
                }
            },

            logKernel: function( data ) {
                let idx = null;
                if( !data.node ) {
                    return;
                }
                if( data.node in this.nodesDict ) {
                    idx = this.nodesDict[data.node];
                } else {
                    idx = this.num_nodes_kernel_charts;
                    this.nodesDict[data.node] = idx;
                    // canvas for chart
                    const el = document.createElement('canvas');
                    el.setAttribute('id', `chart-${idx}`);
                    const chart_cell = document.getElementById(`cell${idx+1}1`);
                    chart_cell.appendChild(el);
                    const tokens = data.node.split("@");
                    document.getElementById(`cell${idx+1}1-title`).innerHTML = tokens[0];
                    const chart = new Chart(el, {
                        type: 'line',
                        options: {
                            animation: {
                                duration: 0
                            },
                            elements: {
                                line: {
                                    tension: 0
                                }
                            }
                        },
                        data: {
                            labels: [],
                            datasets: [{
                                    label: 'avg1',
                                    borderColor: "#7dab16",
                                    data: this.nodes_kernel_data[idx][0],
                                },{
                                    label: 'avg5',
                                    borderColor: "#244c9b",
                                    data: this.nodes_kernel_data[idx][1],
                                },{
                                    label: 'avg15',
                                    borderColor: "#e7558f",
                                    data: this.nodes_kernel_data[idx][2],
                                }]
                        },
                    });
                    this.nodes_kernel_charts[idx] = chart;
                    this.num_nodes_kernel_charts = this.num_nodes_kernel_charts + 1;
                }
                let theData = [ data.data.cpu_avg1, data.data.cpu_avg5, data.data.cpu_avg15 ];
                this.updateChartData(this.nodes_kernel_charts[idx], theData);
            },

            mqtt_client_stats: function(data) {
                if(this.mqtt_client_stats_chart===null)
                {
                    const el = document.createElement('canvas');
                    el.setAttribute('id', `mqtt_client_stats_chart`);
                    const mqtt_client_stats_div = document.getElementById('cell12');
                    document.getElementById('cell12-title').innerHTML = "MQTT Clients";
                    mqtt_client_stats_div.appendChild(el);
                    const chart = new Chart(el, {
                        type: 'line',
                        data: {
                            labels: [],
                            datasets: [
                                {
                                    label: 'connected',
                                    borderColor: "#7dab16",
                                    data: this.mqtt_client_stats_data[0],
                                },{
                                    label: 'reconnecting',
                                    borderColor: "#244c9b",
                                    data: this.mqtt_client_stats_data[1],
                                }
                            ]
                        },
                    });
                    this.mqtt_client_stats_chart = chart;
                }
                let theData = [ data.data.connected, data.data.reconnecting ];
                this.updateChartData(this.mqtt_client_stats_chart, theData);
            },

            mqtt_client_handler: function(data) {
                if(this.mqtt_client_handler_chart===null)
                {
                    const el = document.createElement('canvas');
                    el.setAttribute('id', `mqtt_client_handler_chart`);
                    const mqtt_client_handler_div = document.getElementById('cell22');
                    document.getElementById('cell22-title').innerHTML = "MQTT Client Manager";
                    mqtt_client_handler_div.appendChild(el);
                    const chart = new Chart(el, {
                        type: 'line',
                        data: {
                            labels: [],
                            datasets: [
                                {
                                    label: 'connections',
                                    borderColor: "#7dab16",
                                    data: this.mqtt_client_handler_data[0],
                                },{
                                    label: 'errors',
                                    borderColor: "#244c9b",
                                    data: this.mqtt_client_handler_data[1],
                                }]
                        },
                    });
                    this.mqtt_client_handler_chart = chart;
                }
                let theData = [data.data.current_connections,data.data.errors];
                this.updateChartData(this.mqtt_client_handler_chart, theData);
            },

            ovsdb_clients: function(data) {
                if (this.ovsdb_clients_chart === null) {
                    const el = document.createElement('canvas');
                    el.setAttribute('id', `ovsdb_clients_chart`);
                    const ovsdb_clients_div = document.getElementById('cell32');
                    document.getElementById('cell32-title').innerHTML = "OpenSync Clients";
                    ovsdb_clients_div.appendChild(el);
                    const chart = new Chart(el, {
                        type: 'line',
                        data: {
                            labels: [],
                            datasets: [
                                {
                                    label: 'running',
                                    borderColor: "#7dab16",
                                    data: this.ovsdb_clients_data[0],
                                },{
                                    label: 'reconnecting',
                                    borderColor: "#244c9b",
                                    data: this.ovsdb_clients_data[1],
                                }]
                        },
                    });
                    this.ovsdb_clients_chart = chart;
                }
                let theData = [data.data.running,data.data.reconnecting];
                this.updateChartData(this.ovsdb_clients_chart, theData);
            },

            update_simulation_state: function(data) {
                if (this.simulation_state_chart === null) {
                    const el = document.createElement('canvas');
                    el.setAttribute('id', `simulation_state_client_chart`);
                    const ovsdb_clients_div = document.getElementById('cell13');
                    document.getElementById('cell13-title').innerHTML = "TIP Data";
                    ovsdb_clients_div.appendChild(el);
                    const chart = new Chart(el, {
                        type: 'line',
                        data: {
                            labels: [],
                            datasets: [                                {
                                label: 'APs',
                                borderColor: "#7dab16",
                                data: this.simulation_state_data[0],
                            },{
                                label: 'Sessions',
                                borderColor: "#244c9b",
                                data: this.simulation_state_data[1],
                            }]
                        },
                    });
                    this.simulation_state_chart = chart;
                }
                dev_pct = (100*(data.data.tip_devices/data.data.max_devices)).toFixed(1);
                sess_pct = (100*(data.data.tip_clients/data.data.max_clients)).toFixed(1);
                this.setTileColor('session_count',sess_pct);
                this.setTileColor('ap_count',dev_pct);
                let theData = [dev_pct,sess_pct];
                this.updateChartData(this.simulation_state_chart,theData);
            },

            setTileColor: function(Id,Value) {
                document.getElementById(Id).innerHTML = Value + '%';
                document.getElementById(Id).style.color = this.pick_color(Value);
            },

            updateChartData: function(the_chart,dataValues) {
                let i=0;
                if(the_chart.data.datasets[0].data.length === 30) {
                    for(i=0;i<dataValues.length;i++) {
                        the_chart.data.datasets[i].data.shift();
                    }
                    the_chart.data.labels.shift();
                }
                for(i=0;i<dataValues.length;i++) {
                    the_chart.data.datasets[i].data.push(dataValues[i]);
                }
                the_chart.data.labels.push(this.makeLabel());
                the_chart.update();
            },

            clearLogs: function() {
              this.output = [];
            },

            pick_color: function(value) {
                if (value < 75) {
                    return 'red';
                }
                else if (value < 95) {
                    return 'yellow';
                }
                return 'green';
            },

            set_button_states: function() {

            },

            makeLabel: function() {
                    const now = new Date();
                    const secs = now.getSeconds();
                    const mins = now.getMinutes();
                    if(secs<10){
                        return mins + ":0" + secs;
                    }
                    else
                        return mins + ":" + secs;
                }
            },

        computed: {
            nodesNodes: function() {
                if( this.nodes_stats_table ) {
                    return this.nodes_stats_table.filter( n => n.type === 'node' ).map( n => n.node );
                }
                return [];
            },
        },
    };

    Vue.createApp(App).mount('#app')

</script>
</body>
</html>